.profile {
  font-family: Poppins, sans-serif;
  padding: 0;
  position: relative;
  min-width: 330px;
  height: 100%;
  background: #fff;
  text-align: center;
  z-index: 10;
  border-radius: 4px;
  box-shadow: 10px 10px 15px rgba(0,0,0,.05);

  &__content {
    padding: 50px;
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .02s ease 1s;
    -moz-transition: all .02s ease 1s;
    -webkit-transition: all .02s ease 1s;
    -o-transition: all .02s ease 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
  }

  &__photo  {
    background-image: url(https://i.ibb.co/QPDLG6v/T4-CCV1-V4-G-UQ4-KGNEQ1-d074b7ae683a-512.jpg);
    height: 35%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    background-color: rgba(46,202,127,.1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50px;
    padding: 12px;
    border: 1px solid black;

    &::before, &::after {
      content: '';
      position: absolute;
      left: -25%;
      bottom: -58%;
      width: 100%;
      height: 70%;
      background: #fff;
      transform: rotate(12deg);
      -webkit-transform: rotate(12deg);
    }

    &::after {
      left: auto;
      right: -25%;
      transform: rotate(-8deg);
      -webkit-transform: rotate(-8deg);
    }
  }

  &__title {
    font-size: 34px;
    color: #323232;
    line-height: 32px;
    font-weight: 400;
    margin: 250px 0 10px;
    z-index: 1;
  }

  &::after {
    background: linear-gradient(135deg,rgba(120,204,109,.4) 0%,rgba(120,204,109,.01) 100%);
    content: '';
    position: absolute;
    left: -15px;
    top: -15px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    z-index: -1;
  }

  &__contact {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    z-index: 10;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 1px;
      background: radial-gradient(ellipse at center,#ddd 0%,rgba(255,255,255,0) 70%);
    }

    & > a {
      position: relative;
      display: block;
      width: 100%;
      height: 70px;
      line-height: 70px;
      font-size: 14px;
      color: #323232;
      font-weight: 500;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      border: none;

      &:first-child::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background: radial-gradient(ellipse at top,#ddd 0%,rgba(255,255,255,0) 70%);
      }
    }
  }
}
